In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [4]:
path = "../data/raw/PE_2016.csv"

data = pd.read_csv(path, sep=';', error_bad_lines=False)

In [23]:
grouped = data.groupby(['LocationID'])
    
for name, group in grouped:
    print(group)

      LocationID            LocationName                         RecipeName  \
3306           4  xDNU PED Exeter CLOSED                           Calamari
3307           4  xDNU PED Exeter CLOSED        No Grated Gran Milano (20g)
3308           4  xDNU PED Exeter CLOSED                     No Nduja (30g)
3309           4  xDNU PED Exeter CLOSED                Extra Chicken (40g)
3310           4  xDNU PED Exeter CLOSED             Extra Mozzarella (43g)
3311           4  xDNU PED Exeter CLOSED                    Extra Ham (30g)
3312           4  xDNU PED Exeter CLOSED       Extra Hot Green Pepper (20g)
3313           4  xDNU PED Exeter CLOSED              Extra Red Onion (28g)
3314           4  xDNU PED Exeter CLOSED                  Extra Nduja (20g)
3315           4  xDNU PED Exeter CLOSED                      Margherita GF
3316           4  xDNU PED Exeter CLOSED                     Padana Classic
3317           4  xDNU PED Exeter CLOSED                      Padana Romana
3318           4  xDNU PED Exeter CLOSED             Sloppy Giuseppe Romana
3319           4  xDNU PED Exeter CLOSED                  Veneziana Classic
3320           4  xDNU PED Exeter CLOSED                   Veneziana Romana
3321           4  xDNU PED Exeter CLOSED               Tonic Water Slimline
3322           4  xDNU PED Exeter CLOSED                 Dough Balls Doppio
3323           4  xDNU PED Exeter CLOSED        Dough Balls Doppio Formaggi
3324           4  xDNU PED Exeter CLOSED                           Fresella
3325           4  xDNU PED Exeter CLOSED                  Classic Antipasto
3326           4  xDNU PED Exeter CLOSED                Risotto Mio Starter
3327           4  xDNU PED Exeter CLOSED  Buffalo Mozzarella & Tomato Salad
3328           4  xDNU PED Exeter CLOSED                           Calamari
3329           4  xDNU PED Exeter CLOSED                 Vanilla Cheesecake
3330           4  xDNU PED Exeter CLOSED                       Coppa Gelato
3331           4  xDNU PED Exeter CLOSED                    Chocolate Glory
3332           4  xDNU PED Exeter CLOSED                    Picc Margherita
3333           4  xDNU PED Exeter CLOSED    Picc Mini Dough Balls and Salad
3334           4  xDNU PED Exeter CLOSED                Proscuitto e Melone
3335           4  xDNU PED Exeter CLOSED                   Hawaiian Classic
...          ...                     ...                                ...
3849           4  xDNU PED Exeter CLOSED             Decaf Tia Maria Coffee
3850           4  xDNU PED Exeter CLOSED                Decaf Vanilla Latte
3851           4  xDNU PED Exeter CLOSED                    Double Espresso
3852           4  xDNU PED Exeter CLOSED                           Espresso
3853           4  xDNU PED Exeter CLOSED                       Irish Coffee
3854           4  xDNU PED Exeter CLOSED                    Large Americano
3855           4  xDNU PED Exeter CLOSED                   Large Cappuccino
3856           4  xDNU PED Exeter CLOSED                         Macchiatto
3857           4  xDNU PED Exeter CLOSED                              Mocha
3858           4  xDNU PED Exeter CLOSED                   Tia Maria Coffee
3859           4  xDNU PED Exeter CLOSED                      Vanilla Latte
3860           4  xDNU PED Exeter CLOSED                      Vanilla Syrup
3861           4  xDNU PED Exeter CLOSED                           Mint Tea
3862           4  xDNU PED Exeter CLOSED             Teapigs Tea - Camomile
3863           4  xDNU PED Exeter CLOSED            Teapigs Tea - Earl Grey
3864           4  xDNU PED Exeter CLOSED    Teapigs Tea - English Breakfast
3865           4  xDNU PED Exeter CLOSED                     Jug of Cordial
3866           4  xDNU PED Exeter CLOSED     Picc Chocolate Sauce Inclusion
3867           4  xDNU PED Exeter CLOSED          Extra Cucumber (8 slices)
3868           4  xDNU PED Exeter CLOSED        Extra Balsamic Syrup (28ml)
3869           4  xDNU PED Exeter CLOSED       Extra Caesar Dressing (28ml)
3870           4  xDNU PED Exeter CLOSED  Extra Light House Dressing (28ml)
3871           4  xDNU PED Exeter CLOSED            Extra Chilli Oil (50ml)
3872           4  xDNU PED Exeter CLOSED          Extra Garlic Butter (20g)
3873           4  xDNU PED Exeter CLOSED                  Picc Bianca Pasta
3874           4  xDNU PED Exeter CLOSED                   Picc Burro Pasta
3875           4  xDNU PED Exeter CLOSED               Picc Bolognese Pasta
3876           4  xDNU PED Exeter CLOSED                      Aperol Spritz
3877           4  xDNU PED Exeter CLOSED        Extra Picc Mozzarella (20g)
3878           4  xDNU PED Exeter CLOSED   Extra Picc Santos Tomatoes (30g)

       PLU                SalesDate  Quantity  SalesPriceNet  SalesPrice  \
3306  2569  2016-10-20 00:00:00.000         4       4.999625    6.000000
3307  1926  2016-10-21 00:00:00.000        -1       0.771100    0.925300
3308  2051  2016-10-21 00:00:00.000        -1       1.987700    2.385300
3309  2110  2016-10-21 00:00:00.000         4       1.414250    1.697100
3310  2116  2016-10-21 00:00:00.000         3       1.272633    1.527167
3311  2120  2016-10-21 00:00:00.000         3       1.457933    1.749500
3312  2122  2016-10-21 00:00:00.000         4       1.152550    1.383050
3313  2123  2016-10-21 00:00:00.000         2       1.415850    1.700000
3314  2138  2016-10-21 00:00:00.000         2       1.416700    1.700000
3315  2214  2016-10-21 00:00:00.000         2       3.583300    4.300000
3316  2221  2016-10-21 00:00:00.000         1       9.374900   11.250000
3317  2223  2016-10-21 00:00:00.000         1      13.466400   16.160000
3318  2245  2016-10-21 00:00:00.000         1       1.416700    1.700000
3319  2249  2016-10-21 00:00:00.000         1       7.833300    9.400000
3320  2251  2016-10-21 00:00:00.000         1       9.249900   11.100000
3321  2512  2016-10-21 00:00:00.000         1       0.875000    1.050000
3322  2555  2016-10-21 00:00:00.000         8       5.593712    6.712500
3323  2556  2016-10-21 00:00:00.000         5       6.723560    8.068000
3324  2557  2016-10-21 00:00:00.000         1       9.124800   10.950000
3325  2559  2016-10-21 00:00:00.000         2      11.666950   14.000000
3326  2561  2016-10-21 00:00:00.000         1       4.833200    5.800000
3327  2566  2016-10-21 00:00:00.000         6       4.550083    5.460000
3328  2569  2016-10-21 00:00:00.000         8       4.249237    5.098750
3329  2651  2016-10-21 00:00:00.000         1       0.000000    0.000000
3330  2656  2016-10-21 00:00:00.000         6       0.110250    0.132317
3331  2657  2016-10-21 00:00:00.000         0       0.000000    0.000000
3332  3180  2016-10-21 00:00:00.000         1       0.000000    0.000000
3333  3194  2016-10-21 00:00:00.000         4       0.772800    0.927500
3334  3228  2016-10-21 00:00:00.000         2       4.040750    4.850000
3335  3241  2016-10-21 00:00:00.000         1       9.582300   11.500000
...    ...                      ...       ...            ...         ...
3849  2855  2016-10-24 00:00:00.000         2       3.616700    4.340000
3850  2856  2016-10-24 00:00:00.000         2       2.575000    3.090000
3851  2857  2016-10-24 00:00:00.000         4       2.241700    2.690000
3852  2858  2016-10-24 00:00:00.000         2       1.825000    2.190000
3853  2860  2016-10-24 00:00:00.000         2       3.616700    4.340000
3854  2861  2016-10-24 00:00:00.000         2       2.575000    3.090000
3855  2862  2016-10-24 00:00:00.000         2       2.575000    3.090000
3856  2864  2016-10-24 00:00:00.000         6       2.159667    2.591667
3857  2866  2016-10-24 00:00:00.000         3       2.408300    2.890000
3858  2869  2016-10-24 00:00:00.000         2       3.616700    4.340000
3859  2870  2016-10-24 00:00:00.000         8       2.355725    2.718938
3860  2871  2016-10-24 00:00:00.000         2       0.416700    0.500000
3861  2872  2016-10-24 00:00:00.000         2       1.825000    2.190000
3862  2873  2016-10-24 00:00:00.000         2       1.825000    2.190000
3863  2874  2016-10-24 00:00:00.000         2       1.825000    2.190000
3864  2875  2016-10-24 00:00:00.000         2       1.825000    2.190000
3865  2949  2016-10-24 00:00:00.000         1       1.408300    1.690000
3866  2956  2016-10-24 00:00:00.000         2       0.197050    0.236450
3867  2967  2016-10-24 00:00:00.000         2       1.341650    1.610000
3868  2980  2016-10-24 00:00:00.000         5       0.903900    1.074360
3869  2981  2016-10-24 00:00:00.000         2       0.102200    0.112350
3870  2983  2016-10-24 00:00:00.000         2       0.149400    0.164200
3871  2984  2016-10-24 00:00:00.000         2       0.253150    0.278200
3872  2985  2016-10-24 00:00:00.000         2       0.083900    0.092250
3873  3211  2016-10-24 00:00:00.000         2       2.529850    3.035850
3874  3214  2016-10-24 00:00:00.000         2       2.887500    3.465000
3875  3215  2016-10-24 00:00:00.000         3       2.769333    3.323333
3876  3374  2016-10-24 00:00:00.000         1       4.441700    5.330000
3877  3381  2016-10-24 00:00:00.000         1       0.446400    0.535700
3878  3408  2016-10-24 00:00:00.000         1       0.373600    0.448300

      TotalSalesNet  TotalSales  City1        Country1              Address1  \
3306        19.9985     24.0000  Devon  United Kingdom  27/48 Sidwell Street
3307        -0.7711     -0.9253  Devon  United Kingdom  27/48 Sidwell Street
3308        -1.9877     -2.3853  Devon  United Kingdom  27/48 Sidwell Street
3309         5.6570      6.7884  Devon  United Kingdom  27/48 Sidwell Street
3310         3.8179      4.5815  Devon  United Kingdom  27/48 Sidwell Street
3311         4.3738      5.2485  Devon  United Kingdom  27/48 Sidwell Street
3312         4.6102      5.5322  Devon  United Kingdom  27/48 Sidwell Street
3313         2.8317      3.4000  Devon  United Kingdom  27/48 Sidwell Street
3314         2.8334      3.4000  Devon  United Kingdom  27/48 Sidwell Street
3315         7.1666      8.6000  Devon  United Kingdom  27/48 Sidwell Street
3316         9.3749     11.2500  Devon  United Kingdom  27/48 Sidwell Street
3317        13.4664     16.1600  Devon  United Kingdom  27/48 Sidwell Street
3318         1.4167      1.7000  Devon  United Kingdom  27/48 Sidwell Street
3319         7.8333      9.4000  Devon  United Kingdom  27/48 Sidwell Street
3320         9.2499     11.1000  Devon  United Kingdom  27/48 Sidwell Street
3321         0.8750      1.0500  Devon  United Kingdom  27/48 Sidwell Street
3322        44.7497     53.7000  Devon  United Kingdom  27/48 Sidwell Street
3323        33.6178     40.3400  Devon  United Kingdom  27/48 Sidwell Street
3324         9.1248     10.9500  Devon  United Kingdom  27/48 Sidwell Street
3325        23.3339     28.0000  Devon  United Kingdom  27/48 Sidwell Street
3326         4.8332      5.8000  Devon  United Kingdom  27/48 Sidwell Street
3327        27.3005     32.7600  Devon  United Kingdom  27/48 Sidwell Street
3328        33.9939     40.7900  Devon  United Kingdom  27/48 Sidwell Street
3329         0.0000      0.0000  Devon  United Kingdom  27/48 Sidwell Street
3330         0.6615      0.7939  Devon  United Kingdom  27/48 Sidwell Street
3331         0.0000      0.0000  Devon  United Kingdom  27/48 Sidwell Street
3332         0.0000      0.0000  Devon  United Kingdom  27/48 Sidwell Street
3333         3.0912      3.7100  Devon  United Kingdom  27/48 Sidwell Street
3334         8.0815      9.7000  Devon  United Kingdom  27/48 Sidwell Street
3335         9.5823     11.5000  Devon  United Kingdom  27/48 Sidwell Street
...             ...         ...    ...             ...                   ...
3849         7.2334      8.6800  Devon  United Kingdom  27/48 Sidwell Street
3850         5.1500      6.1800  Devon  United Kingdom  27/48 Sidwell Street
3851         8.9668     10.7600  Devon  United Kingdom  27/48 Sidwell Street
3852         3.6500      4.3800  Devon  United Kingdom  27/48 Sidwell Street
3853         7.2334      8.6800  Devon  United Kingdom  27/48 Sidwell Street
3854         5.1500      6.1800  Devon  United Kingdom  27/48 Sidwell Street
3855         5.1500      6.1800  Devon  United Kingdom  27/48 Sidwell Street
3856        12.9580     15.5500  Devon  United Kingdom  27/48 Sidwell Street
3857         7.2249      8.6700  Devon  United Kingdom  27/48 Sidwell Street
3858         7.2334      8.6800  Devon  United Kingdom  27/48 Sidwell Street
3859        18.8458     21.7515  Devon  United Kingdom  27/48 Sidwell Street
3860         0.8334      1.0000  Devon  United Kingdom  27/48 Sidwell Street
3861         3.6500      4.3800  Devon  United Kingdom  27/48 Sidwell Street
3862         3.6500      4.3800  Devon  United Kingdom  27/48 Sidwell Street
3863         3.6500      4.3800  Devon  United Kingdom  27/48 Sidwell Street
3864         3.6500      4.3800  Devon  United Kingdom  27/48 Sidwell Street
3865         1.4083      1.6900  Devon  United Kingdom  27/48 Sidwell Street
3866         0.3941      0.4729  Devon  United Kingdom  27/48 Sidwell Street
3867         2.6833      3.2200  Devon  United Kingdom  27/48 Sidwell Street
3868         4.5195      5.3718  Devon  United Kingdom  27/48 Sidwell Street
3869         0.2044      0.2247  Devon  United Kingdom  27/48 Sidwell Street
3870         0.2988      0.3284  Devon  United Kingdom  27/48 Sidwell Street
3871         0.5063      0.5564  Devon  United Kingdom  27/48 Sidwell Street
3872         0.1678      0.1845  Devon  United Kingdom  27/48 Sidwell Street
3873         5.0597      6.0717  Devon  United Kingdom  27/48 Sidwell Street
3874         5.7750      6.9300  Devon  United Kingdom  27/48 Sidwell Street
3875         8.3080      9.9700  Devon  United Kingdom  27/48 Sidwell Street
3876         4.4417      5.3300  Devon  United Kingdom  27/48 Sidwell Street
3877         0.4464      0.5357  Devon  United Kingdom  27/48 Sidwell Street
3878         0.3736      0.4483  Devon  United Kingdom  27/48 Sidwell Street

     Address1PostCode  City2        Country2              Address2  \
3306          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3307          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3308          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3309          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3310          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3311          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3312          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3313          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3314          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3315          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3316          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3317          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3318          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3319          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3320          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3321          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3322          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3323          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3324          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3325          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3326          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3327          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3328          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3329          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3330          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3331          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3332          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3333          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3334          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3335          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
...               ...    ...             ...                   ...
3849          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3850          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3851          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3852          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3853          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3854          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3855          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3856          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3857          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3858          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3859          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3860          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3861          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3862          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3863          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3864          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3865          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3866          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3867          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3868          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3869          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3870          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3871          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3872          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3873          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3874          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3875          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3876          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3877          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street
3878          EX4 6NS  Devon  United Kingdom  27/48 Sidwell Street

     Address2PostCode
3306          EX4 6NS
3307          EX4 6NS
3308          EX4 6NS
3309          EX4 6NS
3310          EX4 6NS
3311          EX4 6NS
3312          EX4 6NS
3313          EX4 6NS
3314          EX4 6NS
3315          EX4 6NS
3316          EX4 6NS
3317          EX4 6NS
3318          EX4 6NS
3319          EX4 6NS
3320          EX4 6NS
3321          EX4 6NS
3322          EX4 6NS
3323          EX4 6NS
3324          EX4 6NS
3325          EX4 6NS
3326          EX4 6NS
3327          EX4 6NS
3328          EX4 6NS
3329          EX4 6NS
3330          EX4 6NS
3331          EX4 6NS
3332          EX4 6NS
3333          EX4 6NS
3334          EX4 6NS
3335          EX4 6NS
...               ...
3849          EX4 6NS
3850          EX4 6NS
3851          EX4 6NS
3852          EX4 6NS
3853          EX4 6NS
3854          EX4 6NS
3855          EX4 6NS
3856          EX4 6NS
3857          EX4 6NS
3858          EX4 6NS
3859          EX4 6NS
3860          EX4 6NS
3861          EX4 6NS
3862          EX4 6NS
3863          EX4 6NS
3864          EX4 6NS
3865          EX4 6NS
3866          EX4 6NS
3867          EX4 6NS
3868          EX4 6NS
3869          EX4 6NS
3870          EX4 6NS
3871          EX4 6NS
3872          EX4 6NS
3873          EX4 6NS
3874          EX4 6NS
3875          EX4 6NS
3876          EX4 6NS
3877          EX4 6NS
3878          EX4 6NS

[573 rows x 18 columns]
      LocationID           LocationName                            RecipeName  \
0            256  Leicester 1 - King St                       American Romana
1            256  Leicester 1 - King St                          Coppa Gelato
2            256  Leicester 1 - King St                    Dough Balls Doppio
3            256  Leicester 1 - King St                        Dough Balls GF

In [20]:
 data.groupby(['LocationID'])['LocationID'].count().keys

<bound method Series.keys of LocationID
4       573
256    3306
Name: LocationID, dtype: int64>

Remove data which shouldn't be accounted in the model training
- Negative Qty are correction of sold recipies which doesn't have effect on sales.

In [ ]:
data = data[data['Quantity']>0] # Qty < 0

check columns for missing values